# Dependencies
node_modules/

# Build
dist/
*.local

# Env & secrets
.env
.env.*.local

# Logs & cache
*.log
npm-debug.log*
.vite/
.cache/

# OS / IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Test
coverage/

# Prisma local DB
prisma/dev.db
prisma/dev.db-journal
prisma/prod.db
prisma/prod.db-journal
